html,
body {
	box-sizing: border-box;
	margin: 0;
	padding: 1rem;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
	background-color: azure;
}

.wrapper {
	width: 90%;
	max-width: 900px;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: column;
	background-color: white;
	border-radius: 15px;
	box-shadow: 0 0 10px rgb(180, 180, 180);
	padding: 1.5rem;
	padding-bottom: 2rem;
}
li > input.check  {
	width: 50px;
	height: 50px;
	background-color: aqua;
}
#todo-form {
	width: 90%;
	text-align: center;
	margin: 0 0 2rem 0;
	padding-left: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
ul {
	padding: 0;
	width: 90%;
	margin-bottom: 0;
}

li {
	height: 3rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: solid 1px rgb(215, 215, 215);
	border-radius: 10px;
	margin: 5px 0;
	text-align: center;
	height: fit-content;
}

#fox {
	width: 100px;
    margin: 0.75rem;
	animation: pulse 3s infinite ease-in-out alternate;
}
@keyframes pulse {
	from {
		scale: 1;
		filter: drop-shadow(0 0 0 rgb(170, 63, 1));
	}
	to {
		scale: 1.05;
		filter: drop-shadow(0 0 10px rgba(170, 63, 1, 0.554));
	}
}
.check {
	justify-self: left;
	width: 10%;
}
.delete-todo {
	justify-self: right;
	width: 20%;
}
li p {
	width: 90%;
	
	padding: 0 10px;
	text-align: center;
	height: fit-content;
}
label {
	margin: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
button,
.delete-todo {
	text-align: center;
	width: 7rem;
	height: 2rem;
	margin: 1rem;
	margin-left: 5px;
	padding: 0.5rem 2rem;
	border-radius: 10px;
	border: none;
	background-color: rgba(67, 177, 189, 0.812);
	transition: background-color, 500ms;
}
#add-btn, .clearbtn {
	border-radius: 50px;
}
button:hover,
.delete-todo:hover {
	background-color: rgba(50, 127, 135, 0.812);
	box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.302);
	transition: box-shadow, 150ms;
}
button:active, .delete-todo:active{
	box-shadow: inset 1px 1px 50px 50px rgba(218, 218, 218, 0.715)
}
.clearbtn {
	width: fit-content;
	height: fit-content;
	align-self: flex-start;
	background-color: rgba(185, 90, 2, 0.75);
	color: #fff;
	font-weight: 600;
	margin: 0;
}
.clearbtn:hover {
	background-color: rgb(185, 90, 2);
}
.clear-wrap {
	width: 90%;
	margin: auto;
	display: flex;
	justify-content: space-between;
}
.clear-all {
	background-color: rgba(182, 0, 0, 0.75);
}
.clear-all:hover {
	background-color: rgba(182, 0, 0, 1);
}
#todo-input {
	height: 2rem;
	width: 80%;
	border-radius: 30px;
	border: solid 1px rgb(215, 215, 215);
	text-indent: 1rem;
}
#complete-ul > li {
	background-color: rgba(211, 211, 211, 0.414);
}
#complete-ul > li p {
	text-decoration: line-through;
	color: gray;
}

@media screen and (max-width: 720px) {
	#todo-form {
		flex-direction: column;
		padding: 0;
	}
	#todo-input, #add-btn {
		width: 100%;
		margin: 5px 0;
	}
	.delete-todo {
		width: fit-content;
		padding: 5px 15px;
		margin: 5px;
		margin-right: 10px;
		margin-left: 0;
	}
}
@media screen and (max-width: 450px) {
		.check {
			display: none
		}
		label {
			
		}
}